* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    width: auto;
}

/* nav part style  */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}

.g {
    color: #FF42A5;
}

.menu>ul {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin-right: 32px;

}

.menu .dev,
.as {
    padding: 54px 0 54px 0;
}

.menu li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 25px 18px 24px;
}

.follow-us .fa-youtube {
    color: red;
    padding-left: 15px;
    text-align: center;
}

.follow-us .fa-tiktok {
    color: black;
    padding-left: 12px;
}


/* banner part style  */
.banner {
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 50%;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}


.banner-left {
    width: 50%;
}

.banner-sub-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    /* background-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 24px;
}

.banner-left-list li {
    list-style: none;
    padding-bottom: 17px;
}

.banner-left-list>ul {
    margin-left: 10px;
}

.banner-left-list a {
    text-decoration: none;
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-left-list .fa-circle-play,
.fa-download,
.fa-gamepad {
    color: black;
}

.signin,
.go-rough {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border: 0;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.signin {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.go-rough {
    border-radius: 48px;
    background: #4EC5F7;
}

.banner-right {
    width: 50%;
}

.banner-right img {
    width: 100%;
}

/* we-are-gamer part style  */
.we-are-gamer-container {
    display: flex;
    align-items: center;
    padding: 95px 240px 96px 240px;
    gap: 30px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.we-are-gamer-left {
    width: 50%;
}

.we-are-gamer-left img {
    width: 100%;
}

.we-are-gamer-right-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 24px;
}

.we-are-gamer-right-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.know_more {
    text-align: end;
}

.knowmore {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border: 0;
    margin-bottom: 24px;
    cursor: pointer;
}

.ourpurpose {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.unleash {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.we-are-gamer-right {
    width: 50%;
}

/* online-games part style  */
.online-games {
    padding: 120px 0 120px 0;
}

.online-games-top-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.online-games-top-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.online-games-img-container {
    display: flex;
    padding: 0 240px;
    gap: 20px;
}

.img1 img {
    width: 100%;
}

.img1 {
    position: relative;
    overflow: hidden;
}

.img1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 63px;
    background: rgba(0, 0, 0, 0.8);
    transform: translateY(-500px);
    transition: .9s;
    border-radius: 10px;

}

.img1:hover .overlay {
    transform: translateY(0);
    border: 2px solid #FF42A5;

}

.ov-mid {
    width: 100%;
}

.ov-mid a {
    height: 37px;
    width: 37px;
    line-height: 37px;
    text-align: center;
    color: white;
    margin: 0 auto;
    font-size: 40px;
    display: block;
    padding-top: 50%;
}

.online-games-img-description {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

/* play-instantly part style  */
.play-instantly {
    padding-bottom: 120px;
}

.play-instantly-container {
    display: flex;
    align-items: center;
    padding: 0 240px;
    gap: 150px;
}

.play-instantly-left {
    width: 50%;
}

.play-instantly-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
}

.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: auto;
    width: 353px;
}

.play-instantly-right {
    width: 50%;
    position: relative;
}

.play-instantly-right img {
    width: 100%;

}

.play-instantly-right-sub-img {
    width: 200px;
    height: 265px;
    position: absolute;
    left: -100px;
    bottom: -90px;
}

/* ................................................. */
.play-instantly1 {
    padding-bottom: 120px;
}

.play-instantly1-container {
    display: flex;
    align-items: center;
    padding: 0 240px;
    gap: 150px;
}

.play-instantly1-left {
    position: relative;
}

.play-instantly1-left img {
    width: 100%;
}

.play-instantly1-right {
    width: 50%;
}

.play-instantly1-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
}

.play1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly1-description {
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-right: auto;
    width: 353px;
}

.play-instantly1-left-sub-img {
    width: 200px;
    height: 265px;
    position: absolute;
    right: -100px;
    bottom: -90px;
}

/* career part style  */
.career-container {
    display: flex;
    justify-content: center;
    padding: 120px 240px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    gap: 100px;

}

.career-left {
    width: 50%;
}

.career-left-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
}

.career-left-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
    text-align: justify;
}

.career-objective-container {
    display: flex;
    justify-content: space-between;
}

.co {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.cc {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.seeall{
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background-color:#fff;
    padding: 21px 40px;
    border-radius: 50px;
    margin-top: 32px;
    border: 0;
    color: #FF42A5;
    cursor: pointer;

}

.career-right {
    width: 50%;
}
.career-right img{
    padding-top: 50px;
    width: 100%;
}

/* important-link part style  */
.important-link-container {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 240px;
    justify-content: center;
    gap: 10px;
    width: auto;
}

.img2 {
    display: flex;
    align-items: center;
    width: 200px;
    height: 70px;
    border-radius: 50px;
    transition: 1s;
    margin-bottom: 40px;
    padding-left: 5px;
}

.img2:hover {
    border: 1px solid #FF42A5;
    transform: scale(1.1);
}

.img2:hover .img2-title {

    color: #F948B2;
    transform: scale(1.1);
}

.img2-title {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    transition: 1s;
}

/* footer part style  */
.footer {
    background-color: #0B0223;
    padding-top: 120px;

}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 66px;
    cursor: pointer;

}

.footer-logo-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: white;
    padding-left: 20px;


}

.footer-menu>ul {
    display: flex;
    justify-content: center;
    padding-bottom: 66px;
}

.footer-menu li,
.footer-menu a {
    list-style: none;
    text-decoration: none;
}

.footer-menu li a {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-right: 60px;
}

.footer-link {
    text-align: center;
    padding-bottom: 64px;
}

.footer-link a {
    color: white;
    padding-right: 40px;
}

.footer-link .fa-twitter,
.fa-facebook,
.fa-square-youtube,
.fa-linkedin,
.fa-instagram,
.fa-apple {
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.fa-twitter:hover {
    color: #00acee;
    transform: scale(1.8);
}

.fa-facebook:hover {
    color: #4267B2;
    transform: scale(1.8);
}

.fa-square-youtube:hover {
    color: #CD201F;
    transform: scale(1.8);
}

.fa-linkedin:hover {
    color: #0072b1;
    transform: scale(1.8);
}

.fa-instagram:hover {
    color: #8a3ab9;
    transform: scale(1.8);
}

.fa-apple:hover {
    color: #000000;
    transform: scale(1.8);
}

.footer-submenu {
    padding-bottom: 28px;
}

.footer-submenu>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-submenu li {
    list-style: none;
    margin-right: 60px;
}

.footer-submenu a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.footer-copyright {
    padding-bottom: 120px;
}

.footer-copyright p {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

/* responsive style  */
/* for smaller device */
@media screen and (max-width:576px) {

    /* nav part  */
    .nav-container {
        flex-direction: column;
        padding: 20px;
        box-shadow: none;
    }

    .logo {
        justify-content: center;
    }

    .logo-title {
        padding-left: 10px;
    }

    .menu>ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .menu li {
        margin-right: 0;
    }

    .menu .dev {
        padding: 15px 0 20px 0;
    }

    /* banner part  */
    .banner {
        background-image: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .banner-left {
        width: 100%;
        margin-top: 24px;
        background-image: url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-position: right center;
        padding: 70px 0 70px 0;
    }

    .banner-right {
        width: 100%;
    }

    .banner-sub-title,
    .banner-title {
        text-align: center;
    }

    .banner-sub-title {
        font-size: 30px;
    }

    .banner-title {
        font-size: 70px;
    }

    .banner-left-list>ul {
        text-align: center;
    }

    .button {
        text-align: center;
        margin-left: 10px;
    }

    .signin,
    .go-rough {
        font-size: 16px;
        margin-right: 0;
    }

    /* we-are-gamer part  */
    .we-are-gamer-container {
        flex-direction: column;
        padding: 20px;
        background: none;
    }

    .we-are-gamer-left {
        width: 100%;
    }

    .we-are-gamer-right {
        width: 100%;
    }

    .we-are-gamer-right-title,
    .know_more,
    .ourpurpose {
        text-align: center;
    }

    .we-are-gamer-right-title {
        font-size: 40px;
    }

    .we-are-gamer-right-description {
        text-align: center;
        text-align: justify;
    }

    .unleash {
        text-align: center;
        font-size: 17px;
    }

    /* online-games part style  */
    .online-games {
        padding: 50px 0 5px 0;
    }

    .online-games-top-title {
        font-size: 22px;
    }

    .online-games-img-container {
        padding: 20px;
        flex-direction: column;
    }

    .online-games-top-description {
        font-size: 16px;
    }

    .img1 {
        padding-bottom: 60px;
    }

    .online-games-img-description {
        text-align: center;
    }

    .img1 .overlay {
        bottom: 124px;
    }

    /* play-instantly part style */
    .play-instantly {
        padding-bottom: 50px;
    }

    .play-instantly-container {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .play-instantly-left,
    .play-instantly-right {
        width: 100%;
    }

    .play-instantly-title {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }

    .play-instantly-description {
        text-align: center;
        font-weight: 400;
        line-height: 30px;
        margin: 0 auto;
        width: auto;
    }

    .play-instantly-right {
        text-align: center;
    }

    .play-instantly-right img {
        width: 70%;
        margin: 0 auto;
    }

    .play-instantly-right-sub-img {
        width: 120px;
        height: 173px;
        left: -5px;
        bottom: -112px;
    }

    /* ........................... */
    .play-instantly1-container {
        padding: 20px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .play-instantly1-left,
    .play-instantly1-right {
        width: 100%;
    }

    .play-instantly1-title {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }

    .play-instantly1-description {
        text-align: center;
        font-weight: 400;
        line-height: 30px;
        margin: 0 auto;
        width: auto;
    }

    .play-instantly1-left {
        text-align: center;
    }

    .play-instantly1-left img {
        width: 70%;
        margin: 0 auto;
    }

    .play-instantly1-left-sub-img {
        width: 120px;
        height: 173px;
        right: -5px;
        bottom: -112px;
    }
    /* career part style  */
    .career-container {
        justify-content: center;
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }
    .career-left {
        width: 100%;
    }
    .career-left-title {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .career-left-description {
        font-size: 12px;
    }
    .career-objective-container{
        gap: 20px;
    }
    .co {
        font-size: 12px;
    }
    .cc{
        font-size: 12px; 
    }
    .seeall{
        font-size: 14px;
        padding: 21px 15px;
    }
    .career-right {
        width: 100%;
    }
    .career-right img{
        padding-left: 20px;
    }
    /* important-link style  */

    .important-link-container {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 86px);
        gap: 10px;
    }

    .img2 {
        display: flex;
        width: auto;
        height: auto;
        margin-bottom: 40px;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .img2-title {
        font-size: 10px;
        padding-left: 0;
        text-align: center;
    }

    .img2 img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    /* footer part style  */
    .footer {
        padding: 20px;
    }

    .footer-logo {
        padding-top: 100px;
        padding-bottom: 44px;
    }

    .footer-logo-title {
        text-align: center;
        padding-left: 5px;
    }

    .footer-menu>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 30px;
    }

    .footer-menu li {
        padding-bottom: 35px;
        text-align: center;
    }

    .footer-menu li {
        margin-right: 0;
    }

    .footer-menu li a {
        font-size: 13px;
        margin-right: 0;
    }

    .footer-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 20px;
    }

    .footer-link a {
        text-align: center;
        padding-right: 0;
        margin-bottom: 24px;
    }

    .footer-submenu-container {
        padding: 0 20px;
    }

    .footer-submenu>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-submenu li {
        margin-right: 0;
        padding-bottom: 38px;
        text-align: center;
    }

    .footer-submenu a {
        font-size: 11px;
    }

    .footer-copyright p {
        font-size: 14px;
        width: 258px;
        margin: 0 auto;
    }
}