* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    width: auto;
}

/* nav part style  */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}

.g {
    color: #FF42A5;
}

.menu>ul {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    margin-right: 32px;

}

.menu .dev,
.as {
    padding: 54px 0 54px 0;
}

.menu li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 25px 18px 24px;
}

.follow-us .fa-youtube {
    color: red;
    padding-left: 15px;
    text-align: center;
}

.follow-us .fa-tiktok {
    color: black;
    padding-left: 12px;
}
 /* responsive style  */
 /* for smaller device */
 @media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        padding: 20px;
    }
    .logo{
        justify-content: center ;
    }
    .logo-title{
        padding-left: 10px;
    }
    .menu>ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .menu li {
        margin-right: 0;
    }
    .menu .dev{
        padding: 15px 0 20px 0;
    }
 }